{%- if section.settings.message != blank -%}
<div class="announcement-bar">
  <div class="container">
    <p class="announcement-bar__message">{{ section.settings.message }}</p>
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Message"
    }
  ]
}
{% endschema %}